<div class="row locatie" *ngFor="let locatie of locaties">
  <div class="col-md-1">
    <span>id:</span>
  </div>
  <div class="col-md-11">
    <span>{{locatie.id}}</span>
  </div>
  <div class="col-md-1">
    <span>plaatsnaam:</span>
  </div>
  <div class="col-md-11">
    <span>{{locatie.plaatsNaam}}</span>
  </div>
  <div class="col-md-1">
    <span>latitude:</span>
  </div>
  <div class="col-md-11">
    <span>{{locatie.latitude}}</span>
  </div>
  <div class="col-md-1">
    <span>longitude:</span>
  </div>
  <div class="col-md-11">
    <span>{{locatie.longitude}}</span>
  </div>
</div>