
<nav class="navbar navbar-default">

  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Kwetter</a>

  <ul class="nav navbar-nav" style="float:right!important">
    <li>
      <a routerLink="/start" routerLinkActive="active">Start</a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">User</a>
    </li>
    <li>
      <a routerLink="/kweet" routerLinkActive="active">Kweet</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>
<br/>
<br/>

