<div class="row">


  <!--<div class="col-md-3 col-md-offset-1">-->

    <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">Poster:</div>-->
      <!--<div class="panel-body">-->
        <!--{{kweets}}-->
      <!--</div>-->
      <!--<div class="panel-footer">-->
        <!--kweet posted on {{kweets.length}}-->
      <!--</div>-->


    <!--</div>-->


  <!--</div>-->



  <div class="col-md-3 col-md-offset-4 text-center">
    <h1>Welcome to Kwetter</h1>
    <h4>What's happening?</h4>
    <img src="https://fsmedia.imgix.net/28/a8/72/a9/380f/4601/8358/0ca7bd91bfe3.gif" class="img-responsive" alt="" style="margin-top: 50px;margin-left: 50px" />
    <br/>




  </div>
</div>
